#main-flex-container {
  background-color: whitesmoke;
  padding-bottom: 1rem;
}
#navbar ul {
  display: flex;
  list-style: none;
}
#navbar a {
  color: black;
  display: flex;
  font-size: small;
  margin-right: 0.7rem;
  align-items: center;
  padding-bottom: 0.15rem;
}
a {
  text-decoration: 0px;
}
a:hover {
  border-bottom: 2px solid rgb(255, 70, 14);
}
#navbar a:visited {
  border-bottom: 2px solid rgb(255, 70, 14);
}
#navbar a:after {
  border-bottom: 2px solid rgb(255, 70, 14);
}

/* SCROLL UP STICKY FUNCTIONALITY */
header {
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.nav-up {
  top: -40px;
}